<div class="about" id="cube">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-danger", id="button" onclick="rotateLeftX()">Who is Mark Baker?</button>
        <div id="experiment">
          <div >
            <div class="face cfront">
              <h1>Who is Mark Baker?</h1>
            </div>
              <div class="face cback">
                <h1>Portraits of the artists</h1>
                <h2>Murky Art is Mark Baker</h2>
                <p>Mark is a self-taught charcoal and pen portrait artist based in South London. His art is a reflection of his love for music.
                   As well as working on personal and commisioned projects, he is also an academic support tutor at University of the Arts London.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
