<h1 style="margin-top: 100px;">Welcome to Murky Art</h1>
<h2></h2>
<div class="landing">
  <div class="container-fluid">
    <div class="row">
      <div class="landing-img">
        <a href="<%= products_path %>"><%= image_tag "top.jpg", class: "lpage img-responsive" %></a>

      </div>
    </div>
  </div>
</div>
