<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<div class="landing">
  <div class="container-fluid">
    <div class="row">
      <div class="landing-img">
        <%= image_tag "landing2.jpg", class: "lpage img-responsive" %>
      </div>
    </div>
  </div>
</div>
