<head>
  <style media="screen">
  // Index //
  .landing {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .landing h1 {
    font-size: 3em!important;
    font-weight: lighter;
  }
  .landing h1, .button {
    text-align: center;
  }
  button {
    background-color:#f531db;
    padding-top: 0;
    border-radius: 5px;
    border-color: #f531db;
    }
    button a {
      color: white;
      font-weight: lighter;
      font-size: 2em;
      border: none;
    }
    button a:hover {
      text-decoration: none;
      color: white;
      font-size: 2.5em;
      -webkit-transition: 1s; /* Safari */
      -moz-transitions: 1s;
      transition: 1s;
    }
    img.img-responsive {
      width: 40%;
    }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    h1 {
      margin-top: 1.5em;
    }
    button, .col-sm-12 {
      margin-top: 3em;
    }
    button a {
      font-size: 1em;
    }
    button a:hover {
      font-size: 1.5em;
    }
    img.img-responsive {
      width: 65%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    section {
      padding-bottom: -500px;
    }
    h1 {
      margin-top: 1.5em;
    }
    button, .col-sm-12 {
      margin-top: 3em;
    }
    button a {
      font-size: 1em;
    }
    button a:hover {
      font-size: 1.5em;
    }
    img.img-responsive {
      width: 80%;
    }
  }

  </style>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.title').hide();
    $('.title').delay(500).fadeIn(1500);
    $('.button').hide();
    $('.button').delay(2500).fadeIn(1500);
    $('.col-sm-12.background').hide();
    $('.col-sm-12.background').delay(1500).fadeIn(1500);
  });
  </script>
</head>
<div class="landing">
  <h1 class="title"><span style="padding: 0.2em;">Welcome to Murky</span><span class="murky-colours"> Art</span></h1>
  <div class="button">
    <button type="button" name="button"></span><%= link_to "Find out who's your hero?", products_path %></button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 background">
        <%= image_tag('mashup.jpg', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>
