<body style="width: 100%;background-color: white;margin: 0;">
  <table style="width: 100%;background-color: #0fcda1;height: 100%;margin: 0 0px;margin-right: 20px;">
  <tr>
    <td>
      <% if @user %>
      <p>Dear <% @user.full_name %>, </p>
      <% else %>
      <p>Dear <%= @email %>, </p>
      <% end %>
      <p style="color: white;text-align: center;font-weight: 300px;">Thank you for ordering the <%=@product.name%>.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: white;text-align: center;font-weight: 300px;">Your item should arrive in 7-10 days. Until then you're more than welcome to review your product. Thank you!.</p>
    </td>
  </tr>
  </table>
</body>
