/* line 4, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/comments.scss */
textarea#comment_body.form-control {
  margin: 0 auto;
  width: 60%;
  height: 7em;
}
/* line 4, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/contact.scss */
.container.header {
  width: 55%;
}

@media screen and (min-width: 400px) and (max-width: 650px) {
  /* line 10, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/contact.scss */
  .container.header, .contact-details {
    text-align: center;
  }
}
/* line 1, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/devise.scss */
div.btn.btn-danger {
  color: white;
}

/* line 4, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/devise.scss */
div.btn.btn-danger input {
  background-color: transparent;
  border: none;
}

/* line 8, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/devise.scss */
.text-center a {
  color: black;
  font-size: 1em;
}
/* line 6, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/landing_page.scss */
.landing-img {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 20px;
  width: 80%;
  text-align: center;
  margin: 10em auto 0 auto;
}
/* line 4, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/products.scss */
.container-fluid.products {
  margin-top: 100px;
}

/* line 7, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/products.scss */
.prod-details h3 {
  color: black;
}

/* line 10, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/products.scss */
.product-header {
  color: #ec8e72;
  font-family: Verdana, serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

/* line 17, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/products.scss */
.product-info {
  margin-top: 60px;
}

/* line 20, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/products.scss */
.product-info p {
  color: black;
}

/* line 23, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/products.scss */
img.img-responsive {
  margin: 0 auto;
}
/* line 4, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/show.scss */
p {
  font-size: 1.4em;
}
/* line 3, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/static_pages.scss */
body {
  margin: 0 auto;
  width: 80%;
}
/* line 7, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/static_pages.scss */
body ul, body h1, body h2, body p, body footer {
  text-align: center;
  color: black;
}
/* line 11, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/static_pages.scss */
body div.form-group label {
  color: black;
  font-size: 1.3em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 17, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
.float-r {
  float: right;
}

/* line 20, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
.float-f {
  float: left;
}

/* line 23, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
.center {
  text-align: center;
}

/* line 26, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
.search-padding {
  padding: 25px;
}

/* line 30, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body nav {
  background-color: black;
}
/* line 33, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body li {
  margin-top: 3px;
  color: white;
  padding: 15px;
}
/* line 38, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body li.search-padding {
  margin-top: 5px;
}
/* line 41, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body li.search-padding.btn {
  margin-top: 0;
}
/* line 44, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body li a {
  color: white;
}
/* line 47, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body .nav > li > a:hover {
  background-color: black;
}
/* line 50, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body li a:hover {
  color: #d9534f;
}
/* line 53, /Users/alexfurtuna/Desktop/CF-ROR/app/assets/stylesheets/application.scss */
body div.navbar-brand.brand-name.navbar-left {
  padding: 8px 20px 0 20px;
  background-color: white;
  height: 86px;
  border: 4px solid black;
}
