/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .float-r {
   float: right;
 }
 .float-f {
   float: left;
 }
 .center {
   text-align: center;
 }
 .search-padding {
   padding: 25px;
 }
 .nav-font {
   font-size: 1.3em;
 }
 html, body {
   height: 100%;
   margin: 0 auto;
   width: 100%;
   section {
     min-height: 100%;
     margin-bottom: -100px;
   }
   .yield {
     margin-top: 5em;
   }
   .yield h1 {
     font-size: 3em;
   }
   .yield h2 {
     font-size: 2.3em;
   }
   .footer {
     position: fixed;
     left: 0px;
     bottom: 0px;
     height: 30px;
     width: 100%;
   }
   nav {
     background-color: black;
   }
   li {
     color: white;
     padding: 5px;
   }
   li a {
     color: white;
     font-size: 1em;
     font-weight: 200;
   }
   .nav>li>a:hover{
     background-color: black;
   }
   li a:hover {
     color: #f531db;
     font-weight: 400;

   }
   .btn-danger, .btn-danger:hover {
     background-color: #f531db;
     border: 1px solid #f531db;
   }
   a.left.carousel-control, a.right.carousel-control {
     display: none;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 767px) {
   button.navbar-toggle span.icon-bar {
     color: white;
     background-color: white;
   }
   .navbar-brand {
     display: none;
   }
   .navbar-nav>li>a {
     padding: 0;
   }
   .navbar-nav {
     margin: 0;
   }
   ul.nav.navbar-nav.search {
     margin-bottom: 3em;
   }
   li {
     padding: 0;
     margin-top: 0;
   }
   #dropdown form  {
     display: none;
   }
   li#dropdown {
     margin: 0 auto;
     padding: 0;
   }
   li.nav-font {
     padding: 0;
   }
   .yield h1 {
     font-size: 2em!important;
   }
   .yield h2 {
     font-size: 1.5em!important;
   }
   .small-screen-logo {
     display: inline-block!important;
     margin: 5em auto -10em auto;
   }
   #carousel, div.tshirts.carousel.col-sm-4{
     margin-top: 3em!important;
   }
   .footer {
     position: relative!important;
     top: 5em; left: 0px; bottom: 0;
     height: 30px;
     width: 100%;
   }

 }
 @media screen and (min-width: 500px) and (max-width: 768px) {
   .yield h1 {
     font-size: 2.5em!important;
   }
   .yield h2 {
     font-size: 2em!important;
   }
   .small-screen-logo {
     margin: 0em auto -15em auto!important;
   }

 }
 @media screen and (min-width: 768px) and (max-width: 1024px) {
   .navbar-toggle {
      display: block;
    }
    button.navbar-toggle span.icon-bar {
      background-color: white;
    }
    .nav {
      padding: 0;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
    }
    .navbar-nav>li {
      float: none;
      width: 50%;
      margin: 0 auto;
    }
    .navbar-nav>li>a {
      padding: 10px 0 10px 0px;
    }
    .collapse.in{
      display:block !important;
    }
    .navbar-nav {
      margin: 0;
    }
    .navbar-header {
      float: right;
    }
    .navbar-brand {
      display: none;
    }
    li {
      padding: 0;
      margin-top: 0;
    }
    li#dropdown {
      margin: 0 auto;
      padding: 0;
    }
    li.nav-font {
      padding: 0;
    }
 }
 @media screen and (min-width: 1025px) {

   .navbar-nav>li>a {
     padding: 10px;
     font-size: .9em;
   }
   .navbar-brand {
     padding: 5px;
   }
   li#dropdown {

   }
    #dropdown form {
      margin-top: 5px;
      font-size: 1.1em;
    }
    #dropdown form label {
      display: none;
    }
    ul.nav.navbar-nav.login {
      float: right;
    }
 }
