/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .float-r {
   float: right;
 }
 body {
   background-color: #f7f9fa;
   nav {
     background-color: black;
   }
   li {
     display: inline-block;
     font-size: 1.5em;
     margin: 1em;
     float: left;
   }
  a {
    font-size: .8em;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #f95511;
    transition: 0.3s ease-in;
  }
  footer {
    text-align: center;
    margin: 10em 0;
  }
  .btn.btn-default {
    margin: 0 auto;
    background-color: black;
    color: white;
  }
 }
 .carousel.slide {
   height: 500px;
   width: 900px;
 }

@media screen and (max-width: 650px) {
  body ul li {
    display: block;
    margin: 1em auto;
  }
}
