.carousel-control:hover {
  background-color: lightgrey;
}
.carousel.slide {
  margin: 5em auto;
}
.carousel-inner img {
  margin-top: 3em;
  width: 50%;
}
.carousel-caption {
  font-size: 3em;
}
.carousel-indicators {
  display: none;
}
