// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid.products {
  margin-top: 100px;
}
.prod-details h3 {
  color: black;
}
.product-header {
  color: rgb(236, 142, 114);
  font-family: Verdana, serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.product-info {
  margin-top: 60px;
}
.product-info p {
  color: black;
}
img.img-responsive {
  margin: 0 auto;
}
.black {
  color: black;
}
