$centered: center;

body {
  margin: 0 auto;
  width: 80%;

  ul, h1, h2, p, footer {
    text-align: $centered;
    color: black;
  }
  div.form-group label {
    color: black;
    font-size: 1.3em;
  }
}
