<% if signed_in? %>
  <br />
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <%= f.label :body, "Comments" %>
    </p>
      <br />
    <p>
      <%= f.text_area :body, class: "form-control", placeholder: "Please tell us what you think about your bike ..." %>
    </p>
    <br />
    <p class="rating text-center"></p>
    <br />
    <p>
      <%= f.submit "Submit", class: "btn btn-default" %>
    </p>
    <br />
    <% end %>
  <% end %>
