<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="header">
    <h2>Products</h2>
    <p class="pull-right">
      <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path , class: "btn btn-default" %>
      <% end %>
    </p><!-- new product btn -->
  </div>
  <div class="container-fluid products">
    <% @products.each do |product| %>
     <%= render product %>
    <% end %>
  </div>
</div>
